<!-- Content Wrap -->
<div class="content-wrap">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header-content">
                        <div class="page-header-inner page-title display-inline-block">
                            <div class="previous-page">
                                <a href="#!/faq-pkg/faq/list">
                                    <img src="./public/img/content/previous.svg" class="img-responsive">
                                </a>
                            </div>
                        </div><!-- Page Header Inner -->
                        <div class="page-header-inner page-title display-inline-block">
                            <h1 class="title">{{$ctrl.action}} FAQ</h1>
                            <p class="subtitle">
                                <a href="#!/faq-pkg/faq/list">
                                    FAQs List
                                </a> /
                                {{$ctrl.action}}
                            </p>
                        </div><!-- Page Header Inner -->
                    </div><!-- Page Header Content -->
                </div><!-- Col Main -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.faq.id}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-tab-form pb-80">
                            <div class="tab-form-wrap">
                                <div class="tab-form-header">
                                    <div class="tab-header">
                                        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                            <ul class="nav nav-pills editDetails-tabs">
                                                <li class="active">
                                                    <a data-target="#general-info" role="tab" data-toggle="tab" aria-expanded="true"> General Information
                                                    </a>
                                                </li>
                                            </ul>
                                        </div><!-- Filters -->
                                    </div><!-- Tab Header -->
                                </div><!-- Tab Form Header -->
                                <div class="tab-form-body">
                                    <div class="tab-content">
                                        <!-- TAB PANEL -->
                                        <div class="tab-pane fade in active" id="general-info" data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="tab-pane-wrap">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                Question
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <input type="text" name="question" ng-model='$ctrl.faq.question' class="form-control required" placeholder="Enter Question">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                Answer
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <input type="text" name="answer" ng-model='$ctrl.faq.answer' class="form-control required" placeholder="Enter Answer">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                Active Status
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 2" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                                {{ $ctrl.switch_value }}
                                                            </md-switch>
                                                            <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                        </div><!-- Field -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tab-pane-footer text-right">
                                                            <button type="submit" id="submit" class="btn btn-secondary">
                                                                Submit
                                                            </button>
                                                        </div><!-- Tab Footer -->
                                                    </div>
                                                </div><!-- Row -->
                                            </div><!-- Tab Pane Wrap -->
                                        </div><!-- Tab Pane -->
                                    </div><!-- Tab Content -->
                                </div><!-- Tab Form Body -->
                            </div><!-- Tab Form Wrap -->
                        </div><!-- Page Tab Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
