<!-- Content Wrap -->
<div class="content-wrap">
    <!-- Page Main Content -->
    <div class="page-main-content overflow-y-hidden">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="page-content-inner">
                        <!-- {{Form::open(['files' => true,"id" => "form"])}} -->
                        <form id="import-form" enctype="multipart/form-data">
                            <input type="hidden" name="type_id" value="2">
                            <div class="card-center">
                                <div class="card-boxed card-progress">
                                    <div class="row custom-row">
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <h5 class="title">Import {{$ctrl.import_type.name}}</h5>
                                            </div>
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-item">
                                                <div class="input-text form-group">
                                                    <div class="input-group btn-file import-file">
                                                        <input type="text" class="form-control" readonly="" placeholder="Select File" id="file_name">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-primary btn-circle">
                                                                <input autocomplete="off" class="form-control" name="excel_file" id="excel_file" type="file" onchange="angular.element(this).scope().fileNameChanged(this)" ng-model="$ctrl.po_import_file">
                                                                Browse
                                                            </span>
                                                            <button type="button" class="btn btn-over"><i class="icon ion-md-close progress-close" ng-click="progressClose()"></i></button>
                                                        </span>
                                                    </div> <!-- Input Field -->
                                                    <span id="error_text" class="error_text"></span>
                                                </div><!-- Field -->
                                            </div><!-- Card Import -->
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                    <div class="row custom-row">
                                        <div class="col-md-12">
                                            <ul class="card-button">
                                                <li class="text-left">
                                                    <a id="po_item_template" class="btn btn-border" href="{{$ctrl.import_cron_job_template_file_url}}/{{$ctrl.impoty_type.template_file}}" download><i class="icon ion-md-download"></i>Download Template</a>
                                                </li>
                                                <li class="text-right">
                                                    <input type="submit" class="btn btn-upload" id="upload" value="Upload">
                                                </li>
                                            </ul>
                                        </div><!-- Column -->
                                    </div><!-- Row -->
                                </div><!-- Card Boxed -->
                            </div>
                            <!--   {{Form::close()}} -->
                        </form>
                        <div class="card-transition">
                            <div class="card-boxed">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="skills" data-percent="0%" id="import_progress">
                                            <span>0% Completed</span>
                                            <div class="skillbar" style="width:0%;"></div>
                                        </div><!-- Skills -->
                                    </div><!-- Column -->
                                    <div class="col-md-6">
                                        <div class="card-block">
                                            <p class="color-secondary-light">Total Records : <span id='total_count'>Calculating</span></p>
                                        </div><!-- Card Block -->
                                    </div><!-- Column -->
                                    <div class="col-md-6">
                                        <div class="card-block">
                                            <p class="color-green">New Records : <span id='new_count'>0</span></p>
                                        </div><!-- Card Block -->
                                    </div><!-- Column -->
                                    <div class="col-md-12">
                                        <div class="card-block">
                                            <p class="color-red">Error Records : <span id='error_count'>0</span></p>
                                        </div><!-- Card Block -->
                                    </div><!-- Column -->
                                    <div class="col-md-12">
                                        <div class="text-center" style="margin-bottom: 20px;">
                                            <a type="button" class="btn progress-close" ng-click="progressClose()">Close</a>
                                        </div>
                                    </div>
                                </div><!-- Row -->
                            </div><!-- Card Boxed -->
                        </div><!-- Card Transition -->
                    </div><!-- Page Content Inner -->
                </div><!-- Col Main -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->