<!-- Content Wrap -->
<div class="content-wrap">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header-content">
                        <div class="page-header-inner page-title display-inline-block">
                            <div class="previous-page">
                                <a href="#!/import-cron-job-pkg/import-type/list">
                                    <img src="./public/themes/{{$ctrl.theme}}/img/content/previous.svg" class="img-responsive">
                                </a>
                            </div>
                        </div><!-- Page Header Inner -->
                        <div class="page-header-inner page-title display-inline-block">
                            <h1 class="title">{{$ctrl.action}} Import Type</h1>
                            <p class="subtitle">
                                <a href="#!/import-cron-job-pkg/import-type/list">
                                    Import Types
                                </a> /
                                {{$ctrl.action}}
                            </p>
                        </div><!-- Page Header Inner -->
                    </div><!-- Page Header Content -->
                </div><!-- Col Main -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.import_type.id}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-tab-form pb-80">
                            <div class="tab-form-wrap">
                                <div class="tab-form-header">
                                    <div class="tab-header">
                                        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                            <ul class="nav nav-pills editDetails-tabs">
                                                <li class="active">
                                                    <a data-target="#general-info" role="tab" data-toggle="tab" aria-expanded="true"> General Information
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-target="#import-fields" role="tab" data-toggle="tab" aria-expanded="true">Fields</a>
                                                </li>
                                            </ul>
                                        </div><!-- Filters -->
                                    </div><!-- Tab Header -->
                                </div><!-- Tab Form Header -->
                                <div class="tab-form-body">
                                    <div class="tab-content">
                                        <!-- TAB PANEL -->
                                        <div class="tab-pane fade in active" id="general-info" data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="tab-pane-wrap">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                Name
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <input type="text" name="name" ng-model="$ctrl.import_type.name" class="form-control required" placeholder="Enter Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                Folder Path
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <input type="text" name="folder_path" ng-model="$ctrl.import_type.folder_path" class="form-control required" placeholder="Enter Folder Path">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                File Name
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <input type="text" name="file_name" ng-model="$ctrl.import_type.file_name" class="form-control required" placeholder="Enter File Name">
                                                        </div><!-- Field -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                Action
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <input type="text" name="action" ng-model="$ctrl.import_type.action" class="form-control required" placeholder="Enter Action">
                                                        </div><!-- Field -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                Permission
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <input type="text" name="permission" ng-model="$ctrl.import_type.permission" class="form-control required" placeholder="Enter Permission">
                                                        </div><!-- Field -->
                                                    </div><!-- Column -->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>
                                                                Template File
                                                                <span class="mandatory">
                                                                    *
                                                                </span>
                                                            </label>
                                                            <input type="text" name="template_file" ng-model="$ctrl.import_type.template_file" class="form-control required" placeholder="Enter Template File">
                                                        </div><!-- Field -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tab-pane-footer text-right">
                                                            <a class="btn btn-grey btn-nxt">Next</a>
                                                            <button type="submit" id="submit" class="btn btn-secondary">
                                                                Submit
                                                            </button>
                                                        </div><!-- Tab Footer -->
                                                    </div>
                                                </div><!-- Row -->
                                            </div><!-- Tab Pane Wrap -->
                                        </div><!-- Tab Pane -->
                                        <div class="tab-pane fade" id="import-fields" data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="form-page">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h6 class="tab-pane-title">Import Type : <span class="color-primary-light">{{$ctrl.import_type.name}}</span></h6>
                                                        <div class="table-responsive">
                                                            <table class="table table-form">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Default Name <sup class="mandatory">*</sup></th>
                                                                        <th>Excel Name <sup class="mandatory">*</sup></th>
                                                                        <th>Required <sup class="mandatory">*</sup></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="(index, column) in $ctrl.import_type.columns">
                                                                        <input type="hidden" name="columns[{{index}}][id]" value="{{column.id}}">
                                                                        <input type="hidden" name="columns[{{index}}][import_type_id]" value="{{$ctrl.import_type.id}}">
                                                                        <td>
                                                                            <a href="javascript:;" ng-click="removeImportFields(index,column.id)"><img src="./public/themes/{{$ctrl.theme}}/img/content/modal/close-circle-active.svg" class="img-fluid" alt="Delete"></a>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input type="text" name="columns[{{index}}][default_column_name]" ng-model='column.default_column_name' class="form-control required default_column_name" placeholder="Enter Default Name">
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input type="text" name="columns[{{index}}][excel_column_name]" ng-model='column.excel_column_name' class="form-control required excel_column_name" placeholder="Enter Excel Column">
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <div class="tab-switch md-switch-two">
                                                                                    <md-switch ng-model="column.switch_value" aria-label="Switch {{index}}" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn">
                                                                                        {{ column.switch_value }}
                                                                                    </md-switch>
                                                                                </div>
                                                                                <input type="hidden" name="columns[{{index}}][is_required]" value="{{column.switch_value}}">
                                                                            </div><!-- Field -->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <button type="button" class="btn btn-primary-light btn-square" ng-click="addImportFields()">+ Add</button>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                            <input type="hidden" name="import_field_removal_ids" id="import_field_removal_ids" value="">
                                                        </div><!-- Table Responsive -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tab-pane-footer text-right">
                                                            <a class="btn btn-grey btn-prev">Previous</a>
                                                            <button type="submit" class="btn btn-secondary submit">Submit</button>
                                                        </div><!-- Tab Footer -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Tab Pane Wrap -->
                                        </div><!-- Tabe Pane -->
                                    </div><!-- Tab Content -->
                                </div><!-- Tab Form Body -->
                            </div><!-- Tab Form Wrap -->
                        </div><!-- Page Tab Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
